#header{
  position:absolute;
  width:100%;
  z-index:10;
}

.backstyle{
  background:rgb(49, 71, 235);
}

/* contact & join team */
#board:hover{
  color:blue;
}

/* join team */
.board{
  padding-top: 50px;

}

.box{
  width:100%; 
  height:400px;
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);

}

/* introduction */
.main{
  background: linear-gradient(black,rgba(0, 0, 0, 0.5)),
    url(images/360_F_391858327_RnUUuKCaV4eGRx6Ct9dWZXxypiXjFxvW.jpg);
  background-size:cover;
  min-height:100vh;
  background-position:center;
}
.pad{
  padding:150px 0px 0px 0px;
}

/* approach */
.ash{
  background:lightgrey;
}
.cent{
  padding:100px;
  margin:80px 0px 0px 0px;
}

.btnpad{
  margin-left:70px;
}

#map{
  width:100%;
  height:100%;
  border-radius:10px;
}

.forms{
  padding:100px 0px 0px 0px;
}

.form-label{
  color:white;
}

@media only screen and (max-width: 600px) {
 
  .message{
     width:90px;
    height:80px;
    display:none;
  }
#map{
  display:none;
}
}


@media only screen and (max-width: 800px) {
 
  #map{
    width:90px;
    height:80px;
  }
} 

@media only screen and (max-width: 1000px) {
 
  #map{
    width:90px;
    height:80px;
  }
} 

form{
  display:flex;
  flex-direction: column;
  padding:2vw 4vw;
  width:90%;
  max-width:600px;
  margin-left:30px;
}

form h3{
  color:#555;
  font-weight:800;
  margin-bottom:20px;
}

form input, form textarea{
  border:0;
  margin:40px 0 0 0 ;
  padding:10px;
  outline:none;
  background:#f5f5f5;
  font-size:16px;
}

form button{
  padding:15px;
  background:#ff5361;
  color:white;
  font-size:18px;
  border:0;
  outline:none;
  cursor:pointer;
  width:150px;
  margin: 20px auto 0;
  border-radius:30px;
}

.radius{
  border-radius:20px;
}